# Import thư viện

In [ ]:
import pandas as pd

# Đọc dữ liệu vào `df`

In [ ]:
df = pd.read_csv("../Data/Original Data/hotel_bookings.csv")
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

# Ý nghĩa các cột

### hotel

Có 2 giá trị: Resort Hotel và City Hotel

### is_canceled

1: bị canceled

0: ko bị

### lead_time

Số ngày trôi qua giữa ngày đặt phòng được nhập vào hệ thống PMS và ngày đến của khách.

### arrival_date_year

năm của ngày đến

### arrival_date_month

tháng của ngày đến

### arrival_date_week_number

Số tuần trong năm tương ứng với ngày đến.

### arrival_date_day_of_month

Ngày của ngày đến

### stays_in_weekend_nights

Số đêm cuối tuần (thứ Bảy hoặc Chủ Nhật) mà khách đã lưu trú hoặc đặt để lưu trú tại khách sạn.

### stays_in_week_nights

Số đêm trong tuần (thứ Hai đến Sáu) mà khách đã lưu trú hoặc đặt để lưu trú tại khách sạn.

### adults

Số lượng người lớn

### children

Số lượng trẻ nhỏ

### babies

Số lượng babies

### meal

Loại bữa ăn đã đặt. Các loại bữa ăn được trình bày theo các gói bữa ăn tiêu chuẩn trong ngành khách sạn:

- **Undefined/SC** – Không có gói bữa ăn (Self-Catering: khách tự lo bữa ăn).
- **BB** – Bed & Breakfast (Chỉ bao gồm bữa sáng).
- **HB** – Half board (Bữa sáng và một bữa ăn khác – thường là bữa tối).
- **FB** – Full board (Bữa sáng, bữa trưa và bữa tối).

### country

Quốc gia xuất xứ. Các quốc gia được biểu diễn theo định dạng tiêu chuẩn **ISO 3166-1 alpha-3:2013**, gồm mã ba chữ cái đại diện cho từng quốc gia.

### market_segment

**Phân khúc thị trường**. Trong các danh mục, thuật ngữ **"TA"** có nghĩa là **"Đại lý du lịch"** và **"TO"** có nghĩa là **"Tour Operators"** (Nhà điều hành tour)
→ phân loại khách theo đối tượng

### distribution_channel

**Kênh phân phối đặt phòng**. Thuật ngữ **"TA"** có nghĩa là **"Đại lý du lịch"** và **"TO"** có nghĩa là **"Nhà điều hành tour"**.
→ khách sạn xác định được cách thức khách hàng tìm đến và đặt dịch vụ.

### is_repeated_guest

1: khách hàng đã từng ở khách sạn

0: chưa

### previous_cancellations

Số lần đặt phòng trước đó đã bị khách hàng hủy trước khi đặt phòng hiện tại.

### previous_bookings_not_canceled

Số lần đặt phòng trước đó không bị khách hàng hủy trước khi đặt phòng hiện tại.

### reserved_room_type

Mã loại phòng đã đặt. Mã được sử dụng thay vì tên gọi để đảm bảo tính ẩn danh.

### assigned_room_type

Mã loại phòng được chỉ định cho việc đặt phòng. Đôi khi, loại phòng được chỉ định có thể khác với loại phòng đã đặt do lý do vận hành của khách sạn (ví dụ: thừa phòng) hoặc theo yêu cầu của khách hàng. Mã này được sử dụng thay vì tên gọi để đảm bảo tính ẩn danh.

### booking_changes

Số lần thay đổi/sửa đổi đã được thực hiện đối với việc đặt phòng kể từ khi đặt phòng được nhập vào hệ thống PMS cho đến khi khách làm thủ tục nhận phòng hoặc hủy phòng.

### deposit_type

Chỉ thị về việc khách hàng đã đặt cọc để đảm bảo việc đặt phòng hay không. Biến này có thể có ba giá trị:

- **No Deposit** – Không có đặt cọc.
- **Non Refund** – Đặt cọc và không được hoàn tiền lại
- **Refundable** – Đặt cọc đã được thực hiện với giá trị thấp hơn tổng chi phí lưu trú và có thể hoàn lại.

### agent

Mã ID của đại lý du lịch đã thực hiện việc đặt phòng → khách hàng là đại lý du lịch

### company

Mã ID của công ty/thực thể đã thực hiện việc đặt phòng hoặc chịu trách nhiệm thanh toán cho việc đặt phòng. Mã này được sử dụng thay vì tên gọi để đảm bảo tính ẩn danh.

### days_in_waiting_list

Số ngày mà việc đặt phòng nằm trong danh sách chờ trước khi được xác nhận với khách hàng.

Khi khách hàng đặt phòng, nhưng khách sạn không có phòng trống đủ để đáp ứng yêu cầu (do hết phòng hoặc vì lý do khác), khách sạn có thể đưa đặt phòng vào **danh sách chờ**.

### customer_type

Loại đặt phòng, được chia thành một trong bốn loại sau:

- **Contract** – Khi đặt phòng có hợp đồng hoặc loại hợp đồng khác liên quan đến nó (thường là hợp đồng đã được ký kết với khách sạn về số lượng phòng hoặc điều kiện đặc biệt).
- **Group** – Khi đặt phòng liên quan đến một nhóm (thường là đặt phòng cho một nhóm khách, có thể là một tour du lịch hoặc sự kiện).
- **Transient** – Khi đặt phòng không thuộc nhóm hoặc hợp đồng nào và không liên quan đến các đặt phòng tạm thời khác.
- **Transient-party** – Khi đặt phòng là loại tạm thời (transient), nhưng lại liên kết với ít nhất một đặt phòng tạm thời khác (có thể là các khách trong cùng một nhóm nhưng không phải nhóm chính thức).

### adr

**Giá trung bình mỗi ngày (Average Daily Rate - ADR)** được định nghĩa bằng cách chia tổng giá trị của tất cả các giao dịch lưu trú cho tổng số đêm lưu trú.

### required_car_parking_spaces

Số lượng chỗ đậu xe yêu cầu bởi khách hàng.

### total_of_special_requests

Số lương yêu cầu đặc biệt từ khách hàng (twin bed hoặc high floor)

### reservation_status

Trạng thái cuối cùng của đặt phòng, được chia thành ba loại sau:

- **Canceled** – Đặt phòng đã bị hủy bởi khách hàng.
- **Check-Out** – Khách hàng đã nhận phòng nhưng đã rời đi.
- **No-Show** – Khách hàng không đến nhận phòng và không thông báo lý do cho khách sạn.

### reservation_status_date

Ngày mà trạng thái cuối cùng được thiết lập. Biến này có thể được sử dụng kết hợp với **ReservationStatus** để hiểu khi nào việc đặt phòng bị hủy hoặc khi nào khách hàng đã làm thủ tục trả phòng tại khách sạn.

# Tiến hành loại bỏ các cột không cần thiết và gộp các cột nào mà gộp được trước

Loại bỏ 2 cột `agent`, `company`

In [ ]:
df.drop(columns=["agent", "company"], inplace=True)

Tiến hành gộp các cột `arrival_date_day_of_month`, `arrival_date_month`, `arrival_date_year` thành 1 cột `arrival_date`

Loại bỏ 3 cột trên và cột `arrival_date_week_number`

In [ ]:
df["arrival_date_month"].unique()

array(['July', 'August', 'September', 'October', 'November', 'December',
       'January', 'February', 'March', 'April', 'May', 'June'],
      dtype=object)

In [ ]:
# Xử lí cột tháng
def change_df(df):
    dict_number_by_month = {
        "January": 1,
        "February": 2,
        "March": 3,
        "April": 4,
        "May": 5,
        "June": 6,
        "July": 7,
        "August": 8,
        "September": 9,
        "October": 10,
        "November": 11,
        "December": 12,
    }

    df["arrival_date_month"] = df["arrival_date_month"].apply(
        lambda x: dict_number_by_month[x]
    )


change_df(df)

# Tạo cột mới arrival_date
df["arrival_date"] = (
    df["arrival_date_day_of_month"].astype(str)
    + "-"
    + df["arrival_date_month"].astype(str)
    + "-"
    + df["arrival_date_year"].astype(str)
)
df["arrival_date"] = pd.to_datetime(df["arrival_date"], format="%d-%m-%Y")

# Bỏ các cột đi
df.drop(
    columns=[
        "arrival_date_day_of_month",
        "arrival_date_month",
        "arrival_date_year",
        "arrival_date_week_number",
    ],
    inplace=True,
)

# Trả lời các câu hỏi cơ bản + clean data

## How many rows and how many columns? có 119390 dòng và 32 cột

In [ ]:
df.shape

(119390, 27)

## ý nghĩa mỗi dòng

Thông tin của 1 lần đặt phòng

In [ ]:
df.sample(10)

,hotel,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,...,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,arrival_date
106069,City Hotel,0,42,1,2,2,0.0,0,BB,BEL,...,0,No Deposit,0,Transient,105.33,0,0,Check-Out,2017-02-20,2017-02-17
112462,City Hotel,0,18,1,1,2,0.0,0,BB,PRT,...,0,No Deposit,0,Transient-Party,120.00,0,1,Check-Out,2017-05-24,2017-05-22
10477,Resort Hotel,1,86,0,3,2,0.0,0,Undefined,PRT,...,0,Non Refund,0,Transient,46.00,0,0,Canceled,2016-12-13,2017-03-09
99419,City Hotel,0,181,0,2,1,0.0,0,BB,FRA,...,0,No Deposit,0,Transient-Party,120.00,0,0,Check-Out,2016-10-13,2016-10-11
32428,Resort Hotel,0,27,6,17,2,0.0,0,BB,CN,...,0,No Deposit,0,Transient,67.87,1,1,Check-Out,2017-01-27,2017-01-04
41288,City Hotel,1,0,0,2,2,0.0,0,HB,PRT,...,0,No Deposit,0,Transient-Party,109.00,0,0,Canceled,2015-08-14,2015-08-14
54679,City Hotel,1,61,1,1,1,1.0,0,BB,ESP,...,0,No Deposit,0,Transient,121.50,0,0,Canceled,2016-05-23,2016-07-23
110307,City Hotel,0,74,1,1,3,0.0,0,BB,USA,...,0,No Deposit,0,Transient,171.00,0,0,Check-Out,2017-04-26,2017-04-24
60526,City Hotel,1,26,2,2,2,0.0,0,BB,FRA,...,0,No Deposit,0,Transient,96.90,0,1,Canceled,2016-11-08,2016-11-13
79284,City Hotel,0,37,0,2,2,0.0,0,BB,ITA,...,0,No Deposit,0,Contract,105.30,0,2,Check-Out,2015-10-24,2015-10-22

## liệu có dòng trùng

Có

In [ ]:
any(df.duplicated() == True)

True

Tìm các dòng trùng: có 32020 dòng trùng

In [ ]:
duplicated_rows = df[df.duplicated() == True]
duplicated_rows

,hotel,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,...,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,arrival_date
5,Resort Hotel,0,14,0,2,2,0.0,0,BB,GBR,...,0,No Deposit,0,Transient,98.00,0,1,Check-Out,2015-07-03,2015-07-01
22,Resort Hotel,0,72,2,4,2,0.0,0,BB,PRT,...,1,No Deposit,0,Transient,84.67,0,1,Check-Out,2015-07-07,2015-07-01
43,Resort Hotel,0,70,2,3,2,0.0,0,HB,ROU,...,0,No Deposit,0,Transient,137.00,0,1,Check-Out,2015-07-07,2015-07-02
138,Resort Hotel,1,5,1,0,2,0.0,0,BB,PRT,...,0,No Deposit,0,Transient,97.00,0,0,Canceled,2015-07-01,2015-07-05
200,Resort Hotel,0,0,0,1,1,0.0,0,BB,GBR,...,0,No Deposit,0,Transient,109.80,0,3,Check-Out,2015-07-08,2015-07-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119349,City Hotel,0,186,0,3,2,0.0,0,BB,DEU,...,0,No Deposit,0,Transient,126.00,0,2,Check-Out,2017-09-03,2017-08-31
119352,City Hotel,0,63,0,3,3,0.0,0,BB,SWE,...,0,No Deposit,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03,2017-08-31
119353,City Hotel,0,63,0,3,3,0.0,0,BB,SWE,...,0,No Deposit,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03,2017-08-31
119354,City Hotel,0,63,0,3,3,0.0,0,BB,SWE,...,0,No Deposit,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03,2017-08-31
119373,City Hotel,0,175,1,3,1,0.0,0,BB,NLD,...,0,No Deposit,0,Transient,82.35,0,1,Check-Out,2017-09-04,2017-08-31

In [ ]:
len(duplicated_rows)

32020

Xoá các dòng trùng đi

In [ ]:
df = df.drop_duplicates()
df.reset_index(drop=True, inplace=True)

số dòng và cột còn lại: 87370 dòng, và 27 cột

In [ ]:
df.shape

(87370, 27)

## Sắp xếp các cột thành 2 phần: date, categorical, ordinal, binary, numerical

In [ ]:
def change_df(df):
    date_columns = [
        "arrival_date",
        "reservation_status_date",
    ]
    categorical_columns = [
        "hotel",
        "meal",
        "country",
        "market_segment",
        "distribution_channel",
        "reserved_room_type",
        "assigned_room_type",
        "deposit_type",
        "customer_type",
        "reservation_status",
        # "agent",
        # "company",
    ]
    binary_columns = ["is_canceled", "is_repeated_guest"]
    numerical_columns = [
        "lead_time",
        "stays_in_weekend_nights",
        "stays_in_week_nights",
        "adults",
        "children",
        "babies",
        "previous_cancellations",
        "previous_bookings_not_canceled",
        "booking_changes",
        "days_in_waiting_list",
        "adr",
        "required_car_parking_spaces",
        "total_of_special_requests",
    ]

    new_columns = (
        date_columns + categorical_columns + binary_columns + numerical_columns
    )

    return df[new_columns]


df = change_df(df)

## Với mỗi cột categorical, cách các giá trị được phân bổ

### cột arrival_date

Giá trị min : ngày 1/7/2015

In [ ]:
df["arrival_date"].min()

Timestamp('2015-07-01 00:00:00')

Giá trị max: ngày 31/8/2017

In [ ]:
df["arrival_date"].max()

Timestamp('2017-08-31 00:00:00')

### cột reservation_status_date

kiểu dữ liệu: object

In [ ]:
col_name = "reservation_status_date"

df[col_name].dtype

dtype('O')

kiểm tra tất cả có thỏa regex r'\d{4}-\d{2}-\d{2}': Đúng

Suy ra không có giá trị missing luôn

In [ ]:
def check_df(df, col_name):
    regex = r"\d{4}-\d{2}-\d{2}"

    return df[col_name].str.match(regex).all()


check_df(df, col_name)

True

chuyển thành kiểu datetime

In [ ]:
df[col_name] = pd.to_datetime(df[col_name], format="%Y-%m-%d")
df[col_name].dtype

dtype('<M8[ns]')

Giá trị min: ngày 17/10/2014

In [ ]:
df[col_name].min()

Timestamp('2014-10-17 00:00:00')

Giá trị max: ngày 14/09/2017

In [ ]:
df[col_name].max()

Timestamp('2017-09-14 00:00:00')

Không có bất thường

### cột hotel

kiểu dữ liệu là gì: object

In [ ]:
df["hotel"].dtype

dtype('O')

phần trăm giá trị missing: 0%

In [ ]:
df["hotel"].isnull().mean() * 100

0.0

các giá trị unique là gì và số lượng: có 2 giá trị ['Resort Hotel', 'City Hotel']

In [ ]:
df["hotel"].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

liệu có bất thường: không có

### cột meal

kiểu dữ liệu là gì: object

In [ ]:
col_name = "meal"

df[col_name].dtype

dtype('O')

phần trăm giá trị missing: 0%

In [ ]:
df[col_name].isnull().mean() * 100

0.0

các giá trị unique là gì và số lượng: có 5 giá trị ['BB', 'FB', 'HB', 'SC', 'Undefined']

In [ ]:
df[col_name].unique()

array(['BB', 'FB', 'HB', 'SC', 'Undefined'], dtype=object)

liệu có bất thường: giá trị Undefined giống với SC -> Không có gói bữa ăn

chuyển 2 giá trị thành no_meal

In [ ]:
df[col_name] = df[col_name].replace(["SC", "Undefined"], "no_meal")

### cột country

kiểu dữ liệu là gì: object

In [ ]:
col_name = "country"

df[col_name].dtype

dtype('O')

phần trăm giá trị missing: 0.51 %

In [ ]:
df[col_name].isnull().mean() * 100

0.5173400480714203

các dòng bị null

In [ ]:
rows_country_null = df[df[col_name].isnull()]
rows_country_null

,arrival_date,reservation_status_date,hotel,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,...,adults,children,babies,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
28,2015-07-01,2015-07-15,Resort Hotel,BB,NaN,Direct,Direct,A,A,No Deposit,...,1,0.0,0,0,0,2,0,62.0,0,2
3322,2016-02-15,2016-02-15,Resort Hotel,no_meal,NaN,Offline TA/TO,TA/TO,P,P,No Deposit,...,0,0.0,0,0,0,0,0,0.0,0,0
5280,2016-07-21,2016-07-20,Resort Hotel,BB,NaN,Corporate,Corporate,A,A,No Deposit,...,1,0.0,0,0,0,0,0,73.0,0,2
5982,2016-08-30,2016-07-22,Resort Hotel,HB,NaN,Direct,Direct,A,A,No Deposit,...,2,0.0,0,0,0,0,0,159.0,0,5
6608,2016-10-13,2016-10-13,Resort Hotel,BB,NaN,Corporate,Corporate,A,A,No Deposit,...,1,0.0,0,0,0,0,0,50.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44931,2016-11-17,2016-11-17,City Hotel,no_meal,NaN,Corporate,Direct,P,P,No Deposit,...,0,0.0,0,0,0,0,0,0.0,0,0
45341,2016-12-06,2016-12-06,City Hotel,no_meal,NaN,Complementary,Corporate,P,P,No Deposit,...,0,0.0,0,0,0,0,0,0.0,0,0
48078,2017-04-10,2017-04-10,City Hotel,no_meal,NaN,Complementary,Corporate,P,P,No Deposit,...,0,0.0,0,0,0,0,0,0.0,0,0
55827,2015-11-23,2015-11-26,City Hotel,BB,NaN,Groups,TA/TO,A,A,No Deposit,...,1,0.0,0,0,0,0,0,70.0,0,0
72308,2016-11-13,2016-11-17,City Hotel,BB,NaN,Direct,Direct,A,A,No Deposit,...,2,0.0,0,0,0,0,0,105.0,0,1

các dòng này chuyển thành 'undefined'

In [ ]:
df.loc[rows_country_null.index, col_name] = "undefined"

các giá trị unique là gì và số lượng: có 178 giá trị, bao gồm 177 nước và 1 giá trị undefined

In [ ]:
df[col_name].unique()

array(['PRT', 'GBR', 'USA', 'ESP', 'IRL', 'FRA', 'undefined', 'ROU',
       'NOR', 'OMN', 'ARG', 'POL', 'DEU', 'BEL', 'CHE', 'CN', 'GRC',
       'ITA', 'NLD', 'DNK', 'RUS', 'SWE', 'AUS', 'EST', 'CZE', 'BRA',
       'FIN', 'MOZ', 'BWA', 'LUX', 'SVN', 'ALB', 'IND', 'CHN', 'MEX',
       'MAR', 'UKR', 'SMR', 'LVA', 'PRI', 'SRB', 'CHL', 'AUT', 'BLR',
       'LTU', 'TUR', 'ZAF', 'AGO', 'ISR', 'CYM', 'ZMB', 'CPV', 'ZWE',
       'DZA', 'KOR', 'CRI', 'HUN', 'ARE', 'TUN', 'JAM', 'HRV', 'HKG',
       'IRN', 'GEO', 'AND', 'GIB', 'URY', 'JEY', 'CAF', 'CYP', 'COL',
       'GGY', 'KWT', 'NGA', 'MDV', 'VEN', 'SVK', 'FJI', 'KAZ', 'PAK',
       'IDN', 'LBN', 'PHL', 'SEN', 'SYC', 'AZE', 'BHR', 'NZL', 'THA',
       'DOM', 'MKD', 'MYS', 'ARM', 'JPN', 'LKA', 'CUB', 'CMR', 'BIH',
       'MUS', 'COM', 'SUR', 'UGA', 'BGR', 'CIV', 'JOR', 'SYR', 'SGP',
       'BDI', 'SAU', 'VNM', 'PLW', 'QAT', 'EGY', 'PER', 'MLT', 'MWI',
       'ECU', 'MDG', 'ISL', 'UZB', 'NPL', 'BHS', 'MAC', 'TGO', 'TWN',
       'DJI', 'STP', 'KNA', 'ETH', 'IRQ', 'HND', 'RWA', 'KHM', 'MCO',
       'BGD', 'IMN', 'TJK', 'NIC', 'BEN', 'VGB', 'TZA', 'GAB', 'GHA',
       'TMP', 'GLP', 'KEN', 'LIE', 'GNB', 'MNE', 'UMI', 'MYT', 'FRO',
       'MMR', 'PAN', 'BFA', 'LBY', 'MLI', 'NAM', 'BOL', 'PRY', 'BRB',
       'ABW', 'AIA', 'SLV', 'DMA', 'PYF', 'GUY', 'LCA', 'ATA', 'GTM',
       'ASM', 'MRT', 'NCL', 'KIR', 'SDN', 'ATF', 'SLE', 'LAO'],
      dtype=object)

In [ ]:
len(df[col_name].unique())

178

liệu có bất thường: không

### cột market_segment

kiểu dữ liệu là gì: object

In [ ]:
col_name = "market_segment"

df[col_name].dtype

dtype('O')

phần trăm giá trị missing: 0 %

In [ ]:
df[col_name].isnull().mean() * 100

0.0

các giá trị unique là gì và số lượng: có 8 giá trị -> ['Direct', 'Corporate', 'Online TA', 'Offline TA/TO', 'Complementary', 'Groups', 'Undefined', 'Aviation']

In [ ]:
df[col_name].unique()

array(['Direct', 'Corporate', 'Online TA', 'Offline TA/TO',
       'Complementary', 'Groups', 'Undefined', 'Aviation'], dtype=object)

liệu có bất thường: không

### cột distribution_channel

kiểu dữ liệu là gì: object

In [ ]:
col_name = "distribution_channel"

df[col_name].dtype

dtype('O')

phần trăm giá trị missing: 0 %

In [ ]:
df[col_name].isnull().mean() * 100

0.0

các giá trị unique là gì và số lượng: có 5 giá trị -> ['Direct', 'Corporate', 'TA/TO', 'Undefined', 'GDS']

In [ ]:
df[col_name].unique()

array(['Direct', 'Corporate', 'TA/TO', 'Undefined', 'GDS'], dtype=object)

liệu có bất thường: không

### cột reserved_room_type

kiểu dữ liệu là gì: object

In [ ]:
col_name = "reserved_room_type"

df[col_name].dtype

dtype('O')

phần trăm giá trị missing: 0 %

In [ ]:
df[col_name].isnull().mean() * 100

0.0

các giá trị unique là gì và số lượng: 10 có giá trị: ['C', 'A', 'D', 'E', 'G', 'F', 'H', 'L', 'P', 'B']

In [ ]:
df[col_name].unique()

array(['C', 'A', 'D', 'E', 'G', 'F', 'H', 'L', 'P', 'B'], dtype=object)

liệu có bất thường: không

### cột assigned_room_type

kiểu dữ liệu là gì: object

In [ ]:
col_name = "assigned_room_type"

df[col_name].dtype

dtype('O')

phần trăm giá trị missing: 0 %

In [ ]:
df[col_name].isnull().mean() * 100

0.0

các giá trị unique là gì và số lượng: có 12 giá trị: ['C', 'A', 'D', 'E', 'G', 'F', 'I', 'B', 'H', 'P', 'L', 'K']

In [ ]:
df[col_name].unique()

array(['C', 'A', 'D', 'E', 'G', 'F', 'I', 'B', 'H', 'P', 'L', 'K'],
      dtype=object)

liệu có bất thường: không

### cột deposit_type

kiểu dữ liệu là gì: object

In [ ]:
col_name = "deposit_type"

df[col_name].dtype

dtype('O')

phần trăm giá trị missing: 0 %

In [ ]:
df[col_name].isnull().mean() * 100

0.0

các giá trị unique là gì và số lượng: có 3 giá trị: ['No Deposit', 'Refundable', 'Non Refund']

In [ ]:
df[col_name].unique()

array(['No Deposit', 'Refundable', 'Non Refund'], dtype=object)

liệu có bất thường: không

### cột customer_type

kiểu dữ liệu là gì: object

In [ ]:
col_name = "customer_type"

df[col_name].dtype

dtype('O')

phần trăm giá trị missing: 0 %

In [ ]:
df[col_name].isnull().mean() * 100

0.0

các giá trị unique là gì và số lượng: có 4 giá trị: ['Transient', 'Contract', 'Transient-Party', 'Group']

In [ ]:
df[col_name].unique()

array(['Transient', 'Contract', 'Transient-Party', 'Group'], dtype=object)

liệu có bất thường: không

### cột reservation_status

kiểu dữ liệu là gì: object

In [ ]:
col_name = "reservation_status"

df[col_name].dtype

dtype('O')

phần trăm giá trị missing: 0 %

In [ ]:
df[col_name].isnull().mean() * 100

0.0

các giá trị unique là gì và số lượng: có 3 giá trị: ['Check-Out', 'Canceled', 'No-Show']

In [ ]:
df[col_name].unique()

array(['Check-Out', 'Canceled', 'No-Show'], dtype=object)

liệu có bất thường: không

phần trăm giá trị missing: 0 %

các giá trị unique là gì và số lượng: có 3 giá trị: ['Check-Out', 'Canceled', 'No-Show']

In [ ]:
df[col_name].unique()

array(['Check-Out', 'Canceled', 'No-Show'], dtype=object)

liệu có bất thường: không

### cột is_canceled

Kiểu dữ liệu

In [ ]:
df["is_canceled"].dtype

dtype('int64')

Các giá trị: [0, 1]

In [ ]:
df["is_canceled"].unique()

array([0, 1], dtype=int64)

### cột is_repeated_guest

Kiểu dữ liệu

In [ ]:
df["is_repeated_guest"].dtype

dtype('int64')

Các giá trị: [0, 1]

In [ ]:
df["is_repeated_guest"].unique()

array([0, 1], dtype=int64)

## Với mỗi cột số, cách các giá trị được phân bổ

### cột lead_time

kiểu dữ liệu là gì: int

In [ ]:
col_name = "lead_time"

df[col_name].dtype

dtype('int64')

phần trăm giá trị missing: 0%

In [ ]:
df[col_name].isnull().mean() * 100

0.0

Giá trị min : 0

Giá trị max: 737

In [ ]:
df[col_name].min()

0

In [ ]:
df[col_name].max()

737

Có bất thường không ?: Không

### cột stays_in_weekend_nights

kiểu dữ liệu là gì: int

In [ ]:
col_name = "stays_in_weekend_nights"

df[col_name].dtype

dtype('int64')

phần trăm giá trị missing: 0%

In [ ]:
df[col_name].isnull().mean() * 100

0.0

Giá trị min : 0

Giá trị max: 19

In [ ]:
df[col_name].min()

0

In [ ]:
df[col_name].max()

19

Có bất thường không ?: Không

### cột stays_in_week_nights

kiểu dữ liệu là gì: int

In [ ]:
col_name = "stays_in_week_nights"

df[col_name].dtype

dtype('int64')

phần trăm giá trị missing: 0%

In [ ]:
df[col_name].isnull().mean() * 100

0.0

Giá trị min : 0

Giá trị max: 50

In [ ]:
df[col_name].min()

0

In [ ]:
df[col_name].max()

50

Có bất thường không ?: Không

### cột adults

kiểu dữ liệu là gì: int

In [ ]:
col_name = "adults"

df[col_name].dtype

dtype('int64')

phần trăm giá trị missing: 0%

In [ ]:
df[col_name].isnull().mean() * 100

0.0

Giá trị min : 0

Giá trị max: 55

In [ ]:
df[col_name].min()

0

In [ ]:
df[col_name].max()

55

Có bất thường không ?: Không

### cột children

kiểu dữ liệu là gì: float

In [ ]:
col_name = "children"

df[col_name].dtype

dtype('float64')

Kiểm tra các giá trị không phải số nguyên

Có 4 giá trị đều là null

In [ ]:
def is_integer(number):
    if pd.isnull(number):
        return False

    return number == int(number)


value_not_integer = df[df[col_name].apply(lambda x: is_integer(x) == False)][col_name]
value_not_integer

34229   NaN
34262   NaN
34266   NaN
34574   NaN
Name: children, dtype: float64

Xóa các dòng này

In [ ]:
df.drop(index=value_not_integer.index, inplace=True)
df.reset_index(drop=True, inplace=True)

df[col_name].isnull().sum()

0

Chuyển về kiểu int

In [ ]:
df[col_name] = df[col_name].astype("int")
df[col_name].dtype

dtype('int32')

phần trăm giá trị missing: 0%

Giá trị min : 0

Giá trị max: 10

In [ ]:
df[col_name].min()

0

In [ ]:
df[col_name].max()

10

Có bất thường không ?: Không

### cột babies

kiểu dữ liệu là gì: int

In [ ]:
col_name = "babies"

df[col_name].dtype

dtype('int64')

phần trăm giá trị missing: 0%

In [ ]:
df[col_name].isnull().mean()

0.0

Giá trị min : 0

Giá trị max: 10

In [ ]:
df[col_name].min()

0

In [ ]:
df[col_name].max()

10

Có bất thường không ?: Không

### cột previous_cancellations

kiểu dữ liệu là gì: int

In [ ]:
col_name = "previous_cancellations"

df[col_name].dtype

dtype('int64')

phần trăm giá trị missing: 0%

In [ ]:
df[col_name].isnull().mean()

0.0

Giá trị min : 0

Giá trị max: 26

In [ ]:
df[col_name].min()

0

In [ ]:
df[col_name].max()

26

Có bất thường không ?: Không

### cột previous_bookings_not_canceled

kiểu dữ liệu là gì: int

In [ ]:
col_name = "previous_bookings_not_canceled"

df[col_name].dtype

dtype('int64')

phần trăm giá trị missing: 0%

In [ ]:
df[col_name].isnull().mean()

0.0

Giá trị min : 0

Giá trị max: 72

In [ ]:
df[col_name].min()

0

In [ ]:
df[col_name].max()

72

Có bất thường không ?: Không

### cột booking_changes

kiểu dữ liệu là gì: int

In [ ]:
col_name = "booking_changes"

df[col_name].dtype

dtype('int64')

phần trăm giá trị missing: 0%

In [ ]:
df[col_name].isnull().mean()

0.0

Giá trị min : 0

Giá trị max: 21

In [ ]:
df[col_name].min()

0

In [ ]:
df[col_name].max()

21

Có bất thường không ?: Không

### cột days_in_waiting_list

kiểu dữ liệu là gì: int

In [ ]:
col_name = "days_in_waiting_list"

df[col_name].dtype

dtype('int64')

phần trăm giá trị missing: 0%

In [ ]:
df[col_name].isnull().mean()

0.0

Giá trị min : 0

Giá trị max: 391

In [ ]:
df[col_name].min()

0

In [ ]:
df[col_name].max()

391

Có bất thường không ?: Không

### cột adr

kiểu dữ liệu là gì: int

In [ ]:
col_name = "adr"

df[col_name].dtype

dtype('float64')

phần trăm giá trị missing: 0%

In [ ]:
df[col_name].isnull().mean()

0.0

Giá trị min : 0

Giá trị max: 5400

In [ ]:
df[col_name].min()

-6.38

Kiểm tra dòng có giá trị `adr` < 0

In [ ]:
df[df["adr"] < 0]

,arrival_date,reservation_status_date,hotel,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,...,adults,children,babies,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
11588,2017-03-05,2017-03-15,Resort Hotel,BB,GBR,Groups,Direct,A,H,No Deposit,...,2,0,0,0,2,2,0,-6.38,0,0

Loại bỏ dòng này đi

In [ ]:
df.drop(index=df[df["adr"] < 0].index, inplace=True)
df.reset_index(drop=True, inplace=True)

In [ ]:
df[col_name].min()

0.0

In [ ]:
df[col_name].max()

5400.0

Có bất thường không ?: Không

### cột required_car_parking_spaces

kiểu dữ liệu là gì: int

In [ ]:
col_name = "required_car_parking_spaces"

df[col_name].dtype

dtype('int64')

phần trăm giá trị missing: 0%

In [ ]:
df[col_name].isnull().mean()

0.0

Giá trị min : 0

Giá trị max: 8

In [ ]:
df[col_name].min()

0

In [ ]:
df[col_name].max()

8

Có bất thường không ?: Không

### cột total_of_special_requests

kiểu dữ liệu là gì: int

In [ ]:
col_name = "total_of_special_requests"

df[col_name].dtype

dtype('int64')

phần trăm giá trị missing: 0%

In [ ]:
df[col_name].isnull().mean()

0.0

Giá trị min : 0

Giá trị max: 5

In [ ]:
df[col_name].min()

0

In [ ]:
df[col_name].max()

5

Có bất thường không ?: Không

# Tạo cột mới continent dựa trên cột country

các country hiện tại

In [ ]:
set(df["country"].unique()) - {"undefined"}

{'ABW',
 'AGO',
 'AIA',
 'ALB',
 'AND',
 'ARE',
 'ARG',
 'ARM',
 'ASM',
 'ATA',
 'ATF',
 'AUS',
 'AUT',
 'AZE',
 'BDI',
 'BEL',
 'BEN',
 'BFA',
 'BGD',
 'BGR',
 'BHR',
 'BHS',
 'BIH',
 'BLR',
 'BOL',
 'BRA',
 'BRB',
 'BWA',
 'CAF',
 'CHE',
 'CHL',
 'CHN',
 'CIV',
 'CMR',
 'CN',
 'COL',
 'COM',
 'CPV',
 'CRI',
 'CUB',
 'CYM',
 'CYP',
 'CZE',
 'DEU',
 'DJI',
 'DMA',
 'DNK',
 'DOM',
 'DZA',
 'ECU',
 'EGY',
 'ESP',
 'EST',
 'ETH',
 'FIN',
 'FJI',
 'FRA',
 'FRO',
 'GAB',
 'GBR',
 'GEO',
 'GGY',
 'GHA',
 'GIB',
 'GLP',
 'GNB',
 'GRC',
 'GTM',
 'GUY',
 'HKG',
 'HND',
 'HRV',
 'HUN',
 'IDN',
 'IMN',
 'IND',
 'IRL',
 'IRN',
 'IRQ',
 'ISL',
 'ISR',
 'ITA',
 'JAM',
 'JEY',
 'JOR',
 'JPN',
 'KAZ',
 'KEN',
 'KHM',
 'KIR',
 'KNA',
 'KOR',
 'KWT',
 'LAO',
 'LBN',
 'LBY',
 'LCA',
 'LIE',
 'LKA',
 'LTU',
 'LUX',
 'LVA',
 'MAC',
 'MAR',
 'MCO',
 'MDG',
 'MDV',
 'MEX',
 'MKD',
 'MLI',
 'MLT',
 'MMR',
 'MNE',
 'MOZ',
 'MRT',
 'MUS',
 'MWI',
 'MYS',
 'MYT',
 'NAM',
 'NCL',
 'NGA',
 'NIC',
 'NLD',
 'NOR',
 'NPL',
 'NZL',
 'OMN',
 'PAK',
 'PAN',
 'PER',
 'PHL',
 'PLW',
 'POL',
 'PRI',
 'PRT',
 'PRY',
 'PYF',
 'QAT',
 'ROU',
 'RUS',
 'RWA',
 'SAU',
 'SDN',
 'SEN',
 'SGP',
 'SLE',
 'SLV',
 'SMR',
 'SRB',
 'STP',
 'SUR',
 'SVK',
 'SVN',
 'SWE',
 'SYC',
 'SYR',
 'TGO',
 'THA',
 'TJK',
 'TMP',
 'TUN',
 'TUR',
 'TWN',
 'TZA',
 'UGA',
 'UKR',
 'UMI',
 'URY',
 'USA',
 'UZB',
 'VEN',
 'VGB',
 'VNM',
 'ZAF',
 'ZMB',
 'ZWE'}

Tạo cột mới continent dựa vào country

ý nghĩa: Lục địa mà quốc gia đó thuộc về, có 9 giá trị sau:

- Asia: châu Á
- Africa: châu Phi
- Europe: châu Âu
- North_America: bắc Mĩ
- South_America: nam Mĩ
- Oceania: châu Đại Dương
- Antarctica: châu Nam cực
- Special_territories: lãnh thổ đặc biệt và hải ngoại
- undefined: không xác định tương ứng với cột country = 'undefined'

In [ ]:
def change_df(df):
    dict_continent_by_country = {
        "undefined": "undefined",
        "ABW": "North_America",
        "AGO": "Africa",
        "AIA": "North_America",
        "ALB": "Europe",
        "AND": "Europe",
        "ARE": "Asia",
        "ARG": "South_America",
        "ARM": "Asia",
        "ASM": "Oceania",
        "ATA": "Antarctica",
        "ATF": "Antarctica",
        "AUS": "Oceania",
        "AUT": "Europe",
        "AZE": "Asia",
        "BDI": "Africa",
        "BEL": "Europe",
        "BEN": "Africa",
        "BFA": "Africa",
        "BGD": "Asia",
        "BGR": "Europe",
        "BHR": "Asia",
        "BHS": "North_America",
        "BIH": "Europe",
        "BLR": "Europe",
        "BOL": "South_America",
        "BRA": "South_America",
        "BRB": "North_America",
        "BWA": "Africa",
        "CAF": "Africa",
        "CHE": "Europe",
        "CHL": "South_America",
        "CHN": "Asia",
        "CIV": "Africa",
        "CMR": "Africa",
        "CN": "Asia",
        "COL": "South_America",
        "COM": "Africa",
        "CPV": "Africa",
        "CRI": "North_America",
        "CUB": "North_America",
        "CYM": "North_America",
        "CYP": "Europe",
        "CZE": "Europe",
        "DEU": "Europe",
        "DJI": "Africa",
        "DMA": "North_America",
        "DNK": "Europe",
        "DOM": "North_America",
        "DZA": "Africa",
        "ECU": "South_America",
        "EGY": "Africa",
        "ESP": "Europe",
        "EST": "Europe",
        "ETH": "Africa",
        "FIN": "Europe",
        "FJI": "Oceania",
        "FRA": "Europe",
        "FRO": "Europe",
        "GAB": "Africa",
        "GBR": "Europe",
        "GEO": "Asia",
        "GGY": "Europe",
        "GHA": "Africa",
        "GIB": "Europe",
        "GLP": "North_America",
        "GNB": "Africa",
        "GRC": "Europe",
        "GTM": "North_America",
        "GUY": "South_America",
        "HKG": "Asia",
        "HND": "North_America",
        "HRV": "Europe",
        "HUN": "Europe",
        "IDN": "Asia",
        "IMN": "Europe",
        "IND": "Asia",
        "IRL": "Europe",
        "IRN": "Asia",
        "IRQ": "Asia",
        "ISL": "Europe",
        "ISR": "Asia",
        "ITA": "Europe",
        "JAM": "North_America",
        "JEY": "Europe",
        "JOR": "Asia",
        "JPN": "Asia",
        "KAZ": "Asia",
        "KEN": "Africa",
        "KHM": "Asia",
        "KIR": "Oceania",
        "KNA": "North_America",
        "KOR": "Asia",
        "KWT": "Asia",
        "LAO": "Asia",
        "LBN": "Asia",
        "LBY": "Africa",
        "LCA": "North_America",
        "LIE": "Europe",
        "LKA": "Asia",
        "LTU": "Europe",
        "LUX": "Europe",
        "LVA": "Europe",
        "MAC": "Asia",
        "MAR": "Africa",
        "MCO": "Europe",
        "MDG": "Africa",
        "MDV": "Asia",
        "MEX": "North_America",
        "MKD": "Europe",
        "MLI": "Africa",
        "MLT": "Europe",
        "MMR": "Asia",
        "MNE": "Europe",
        "MOZ": "Africa",
        "MRT": "Africa",
        "MUS": "Africa",
        "MWI": "Africa",
        "MYS": "Asia",
        "MYT": "Africa",
        "NAM": "Africa",
        "NCL": "Oceania",
        "NGA": "Africa",
        "NIC": "North_America",
        "NLD": "Europe",
        "NOR": "Europe",
        "NPL": "Asia",
        "NZL": "Oceania",
        "OMN": "Asia",
        "PAK": "Asia",
        "PAN": "North_America",
        "PER": "South_America",
        "PHL": "Asia",
        "PLW": "Oceania",
        "POL": "Europe",
        "PRI": "North_America",
        "PRT": "Europe",
        "PRY": "South_America",
        "PYF": "Oceania",
        "QAT": "Asia",
        "ROU": "Europe",
        "RUS": "Europe",
        "RWA": "Africa",
        "SAU": "Asia",
        "SDN": "Africa",
        "SEN": "Africa",
        "SGP": "Asia",
        "SLE": "Africa",
        "SLV": "North_America",
        "SMR": "South_America",
        "SRB": "Europe",
        "STP": "Africa",
        "SUR": "South_America",
        "SVK": "Europe",
        "SVN": "Europe",
        "SWE": "Europe",
        "SYC": "Africa",
        "SYR": "Asia",
        "TGO": "Africa",
        "THA": "Asia",
        "TJK": "Asia",
        "TMP": "Asia",
        "TUN": "Africa",
        "TUR": "Asia",
        "TWN": "Asia",
        "TZA": "Africa",
        "UGA": "Africa",
        "UKR": "Europe",
        "UMI": "Oceania",
        "URY": "South_America",
        "USA": "North_America",
        "UZB": "Asia",
        "VEN": "South_America",
        "VGB": "North_America",
        "VNM": "Asia",
        "ZAF": "Africa",
        "ZMB": "Africa",
        "ZWE": "Africa",
    }

    df["continent"] = df["country"].apply(lambda x: dict_continent_by_country[x])


change_df(df)

df["continent"].unique()

array(['Europe', 'North_America', 'undefined', 'Asia', 'South_America',
       'Oceania', 'Africa', 'Antarctica'], dtype=object)

lưu dữ liệu

In [ ]:
# df.to_csv("../Data/Created Data/hotel_bookings_cleaned.csv", index=False)